
<div class="card-panel white">

	<p>Total Players: </p>

	<table class="bordered">
		<thead>
		<tr>
			<th data-field="name">Player</th>
			<th data-field="score">Score</th>
			<th data-field="id">ID</th>
		</tr>
		</thead>
		<tbody>

		<!-- todo: Figure out how to select an employee by ID and highlight the specific employee light teal -->
		<!-- See Below -->
		<tr ng-repeat="player in players | orderBy: 'score'">
			<td class = "employeeName" ng-click="logID()">{{player.name}}</td>
			<td class = "employeeScore">{{player.score}}</td>
			<td class = "employeeID">{{player._id}}</td>
		</tr>
		</tbody>
	</table>
	<!-- End todo -->
	<br>

	<a class="increment waves-effect waves-light btn teal lighten-1" ng-click="addFivePoints()">Give 5 Points!</a>
	<a class="decrement waves-effect waves-light btn teal lighten-1">Remove 5 Points!</a>

</div>