<div ng-controller="View1Ctrl">
	<div class="nav-wrapper card-panel red lighten-1 white-text">
		<h1 class="center-align">Leaderboard Dashboard</h1>
		<h5 class="center-align">Manage employee score</h5>
	</div>
	<div class="card-panel white">

		<p>Total Players: </p>

		<table class="bordered">
			<thead>
			<tr>
				<th data-field="id">Player</th>
				<th data-field="name">Score</th>
			</tr>
			</thead>
			<tbody>

			<!-- todo: Figure out how to select an employee by ID and highlight the specific employee light teal -->
			<!-- See Below -->
			<tr ng-click="getId()" ng-repeat="person in staff.Employees | orderBy: 'score'">
				<td class = "player">{{person.name}}</td>
				<td>{{person.score}}</td>
			</tr>
			</tbody>
		</table>
			<!-- End todo -->
		<br>

		<a class="increment waves-effect waves-light btn teal lighten-1">Give 5 Points!</a>
		<a class="decrement waves-effect waves-light btn teal lighten-1">Remove 5 Points!</a>

	</div>
</div>